table {
}
td{
	line-height: 0;
}

.boardDiv {
    margin: 0 auto;
    
    border-collapse: collapse;
    padding: 0px;
}

.button {
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;
}
/* on hover */
.button:hover {
    background-color: #000000 ;
    color: #FFFFFF;
}