tr,td{
    border-spacing:0; 
    border-collapse:collapse;
    padding: 0px;
}

img {
    margin: 0 auto;
    position: absolute;
    width: 150px;
    height: 150px;
}

.boardDiv {
    margin: 0 auto;
    border-spacing:0; 
    border-collapse:collapse;
}

.button {
    border: 0px solid rgb(173, 173, 173);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;
}
/* on hover */
.button:hover {
    background-color: #000000 ;
    color: #FFFFFF;
}

.button:disabled {
    background-color: rgb(173, 173, 173);
    color: #000000;
}